:root {
  --primary-color: chartreuse;
  --font-family: "Courier New";
}
header {
  background-color: var(--primary-color);
}
from,
  10%,
  26%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  20%,
  21% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -3px, 0) scaleY(1.1);
  }

  35% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -10px, 0) scaleY(1.05);
  }

  40% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }

  45% {
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
  50% {
    transform: translate3d(0, 0, 0) scaleY(1);
  }
}
animation: step-start reverse 300ms;
