
:root {
    --font-family: 'Courier New';
}



header {
display: flex;
  font-family:'Courier New', Courier, monospace;

  font-weight: 600;
  font-size: 34pt;
  position: fixed;
  background-color: chartreuse;
  top: 0;
  right: 0;
  flex-direction: row-reverse;
  justify-content: center;
  

}
@media screen and (max-width: 1900px) {
    header {
      width: 100%; 
    }
#top {
    
}
  .box{
    display: inline-block;
    height: 200px;
    padding: 150px;
    width: 25%;
    background-color: #312e20;
    margin-top: 24pt;
    
  }
  @media screen and (max-width: 1900px){
    .box{
      width: 40%;
      background-color: #3b3a38;
    }
  body {
      display: block;
      margin: 50px;
      padding: 1px;
      border: 50px;
      font-family: var(--font-family);

    }  

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height:55px;
    box-shadow: 0 0 3px;
    background-color: chartreuse;
    display: flex;
    overflow-x: auto;
}


}
.questcard-container {
    padding: 30px 0 20px;
}
.questcard {
    display:flex;
    flex-direction: column;
    border: 2px solid grey;
    border-style: dotted;
    border-radius: 
    height: 13px;
    padding: 
    position: relative;
}

.questcard button {
    font-size: 13px;
    flex: 0 0 4rem;
    margin: 

}

.questcard img {
 width: 2rem;
 position: absolute;
 display: block;
 top: 8rem;
 right: -.8rem;
 left: 7rem;
 

}
.taglist {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:space-around;

}
.navbar a {
    display: flex;
    flex-direction: row;
    text-align: center;

    
    float: left;
    padding: 12px;
    color: rgb(19, 18, 18);
    text-decoration: none;
    font-size: 24px;

  }
  
  .navbar a:hover {
    background-color: #000;
  }
  
  .active {
    background-color: #a8cabe;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
    .day   { background: #eee; color: black; }
.night { background: #333; color: white; }

@media (prefers-color-scheme: dark) {
  .day.dark-scheme   { background:  #333; color: white; }
  .night.dark-scheme { background: black; color:  #ddd; }
}

@media (prefers-color-scheme: light) {
  .day.light-scheme   { background: white; color:  #555; }
  .night.light-scheme { background:  #eee; color: black; }
}

.day, .night {
  display: inline-block;
  padding: 1em;
  width: 7em;
  height: 2em;
  vertical-align: middle;
}
